__pycache__/
*.pyc
build/
dist/
*.spec
PKGViewer.exe
PKGViewer-Setup-*.exe
builds/
*.deb
PKGViewer-linux-*.tar.gz
batch_rename_*.log
assets/*
!assets/icons/
!assets/icons/*.ico
!assets/logo.png
!assets/logo.ico
